VERSION=latest
# Letsencrypt email address
LETSENCRYPT_USER_MAIL=letsencrypt@example.com
# Lexicon provider
LEXICON_PROVIDER=ovh
# DNS replication delay
LEXICON_SLEEP_TIME=30
# Certificate directory mode
CERTS_DIRS_MODE=0754
# Certificate files mode
CERTS_FILES_MODE=0644
